body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
}
a{
    text-decoration: none;
}
ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}
img {
    display: block;
        }

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.header {
    border-bottom: 1px solid #E7E9FC;
    background: #FFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
}
.header-container {
    display: flex;
    align-items: center;
}
.navigation {
    display: flex;
    align-items: center;
}
.logo {
color: #4D5AE5;
font-family: Raleway, sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17; 
letter-spacing: 0.03em;
text-transform: uppercase;
margin-right: 76px;
}
.logo-part {
    color: #2E2F42;
}
.nav-list {
    display: flex;
    gap: 40px;
}
.nav-link {
color: #2E2F42;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
padding: 24px 0;
display: block;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
position: relative;
color: #404BBF;
}
.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404BBF;
    border-radius: 2px;
    height: 4px;
    width: 100%;
    
}
.nav-link:hover,
.nav-link:focus{
   color: #404BBF;
}
.address {
    font-style: normal;
    margin-left: auto;
}
.address-list {
    display: flex;
    gap: 40px;
}
.address-link {
color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus{
color: #404BBF;
}

.section-first {
    padding: 188px 0;
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office11.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    max-width: 1440px;
    height: 600px;
   
   
}
.title {
color: #FFF;
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07; 
letter-spacing: 0.02em;
max-width: 496px;
margin: 0 auto;

}
.button-first {
 background: #4D5AE5;
color: #FFF;
cursor: pointer;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
border-radius: 4px;
display: block;
min-width: 169px;
height: 56px;
padding: 16px 32px;
margin: 0 auto;
margin-top: 48px;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.button-first:hover,
.button-first:focus{
background-color: #404BBF;
}
.section-second {
    padding: 120px 0 120px;
}    
    

.skill {
    display: flex;
    gap: 24px;
    align-items: center;
    
    
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.skill-title {
 color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
margin-top: 8pxfigma;
margin-bottom: 8px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 8px;
}

.skill-items {
 width: calc((100% - 72px) / 4);
     

}
.skill-items-link{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    border: 1px solid #8e8f99;
    width: 264px;
    height: 112px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #F4F4FD;
    fill: #ffffff;
    margin-bottom: 8px;
}

.section-skill-par {
color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}
.team-list {
display: flex;
gap: 24px;
}
.title-team{
color: #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
text-align: center;

}
.section-third{
    background: #F4F4FD;
    padding: 120px 0;
}
.div-section-third {
    padding: 32px 0;
    text-align: center;
}
.section-third-line {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    width: calc((100% - 72px) / 4); 
    height: 428px;
    border-radius: 0px 0px 4px 4px;
    margin: 0 auto;
}
.social-list-section-third {
    display: flex;
    justify-content: center;
    gap: 24px; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 24px;
    padding-bottom: 120px;
    row-gap: 48px;
}
.section-fourth {
    padding: 120px 0 120px 0;
}
.underlay{
    position: relative;
 overflow: hidden;
 box-shadow: зі значенням 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);    
}
.text-overlay{
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
letter-spacing: 0.02em;
color: #F4F4FD;
display: block;
padding: 40px 32px;
background-color: #4D5AE5;
width: 360px;
height: 300px;
border: 1px solid #000;
position: absolute;
left: 0;
top: 0;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.our-portfolio {
    text-align: center;
    margin-bottom: 72px;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px; 
letter-spacing: 0.72px;
text-transform: capitalize;
}
.section-fourth-line {
width: calc((100% - 48px) / 3);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}
.section-fourth-line:hover .text-overlay{
 transform: translateY(0%);
 box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.div-section-fourth {
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none;
     }
.skill-title-fourth {
    margin-bottom: 8px;
    color: #2E2F42 ;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 40px; 
letter-spacing: 0.72px;
text-transform: capitalize;
font-weight: 500;
}
.section-skill-par-fourth {
   
    }
.img-fourth {
    margin: 0 auto;
}
.footer{
    background-color: #2E2F42;
    color: #F4F4FD;
    padding: 100px 0;
}
.div-footer {
    align-items: baseline; 
    display: flex;
    gap: 24px; 
    
}
.div-logo-footer{
    margin-right: 120px;   
}
.logo-down {
    color: #4D5AE5;
font-family: Raleway, sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17; 
letter-spacing: 0.03em;
text-transform: uppercase;
display: inline-block;
margin-bottom: 16px; 
}
.logo-part-footer{
    color: #F4F4FD;
   
}
.footer-par{
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    max-width: 264px;
    color: #ffffff;
    margin-bottom: 16px;
}
.footer-title{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #ffffff;
text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
margin-bottom: 10px;
display: inline-block;


}
.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    fill: #ffffff;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
    background-color: #404BBF;
}
.social-list-link-color:hover,
.social-list-link-color:focus {
    background-color: #31D0AA;
}
    


.social-list{
    display: flex;
    justify-content: center;
    gap: 16px;
    
   
} 
.footer-media{
       align-items: baseline;
       justify-content: center;
       display: block;
       bottom: 60px;
       position: relative;
       margin-right: 120px;
}
.footer-title{
    position: absolute;
    content: "";
    left: 500px;
    bottom: 60px;
    color: #FFFFFF;
    margin-bottom: 16px;

   } 
.social-list-item{
    display: flex;
    justify-content: center;   
    
}
.social-list-icon {
    fill: #F4F4FD;
}

    